body{
  background-image: url("../images/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Acme', sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

.display-tree-big{
  background: url('../images/tree.png');
  background-repeat: no-repeat;
  height:420px;
  width: 350px;
  position: relative;
  background-size: contain;
}

.orange {
  position: absolute;
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  background-color: #ffff98;
  border-style: dotted;
  cursor: pointer;
}

.hide{
  display: none;
}

.data{
  display: inline-flex;
}

p{
  margin: 10px 10px;
}

h2, h1{
  margin-bottom: 10px;
}

span{
  color: white;
  background-color: orange;
  padding: 3px 5px;
}
